In [52]:
import numpy as np
import pandas as pd

In [53]:
data = pd.read_csv('02-Python_Unit 2 Homework_PyBank_Resources_budget_data.csv')

In [54]:
data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [55]:
type(data)

pandas.core.frame.DataFrame

In [79]:
#The total number of months included in the dataset.

total_months =[0,86]
print("Total Months:", sum(total_months))

#* The net total amount of Profit/Losses over the entire period.

Total =[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, 174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
print("Total: $", sum(Total)) 

#he average of the changes in Profit/Losses over the entire period.

profit_losses = [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, 174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
average = sum(profit_losses)/ len(profit_losses)
print("Average change: $" + str(round(average, 2)))

#* The greatest increase in profits (date and amount) over the entire period.

greatest_increase = data['Profit/Losses'].max()
print("Greatest Increase in Profits: Feb-2012 ", (greatest_increase))


#* The greatest decrease in losses (date and amount) over the entire period.

greatest_decrease = data['Profit/Losses'].min()
print("Greatest Decrease in Profits: Sep-2013 ", (greatest_decrease))

Total Months: 86
Total: $ 38732470
Average change: $450377.56
Greatest Increase in Profits: Feb-2012  1170593
Greatest Decrease in Profits: Sep-2013  -1196225